.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  margin: 0%;
  border-bottom: 1px solid var(--gold);
}

.logo {
  background-color: var(--background);
  grid-column: 1 / span 2;
  padding-left: 5%;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 1.5rem;
  color: var(--gold);
}

.logo p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav {
  background-color: var(--background);
  text-align: center;
  grid-column: 3 / span 2;
  color: var(--gold);
}

.nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  justify-self: center;
}

.nav li {
  /*margin: auto;*/
  display: inline-block;
  /*float: right;*/
  justify-content: center;
}

.nav li a {
  display: block;
  text-align: center;
  /*padding: 0.6rem;*/
  text-decoration: none;
  text-transform: uppercase;
  justify-self: center;

  margin: auto;
  color: var(--gold);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.nav li.active {
  background-color: #1c3988;
}

.nav li:hover {
  background-color: #1c3988;
}

.nav .icon {
  display: none;
}

@media only screen and (max-width: 800px) {
  .logo {
    font-size: 1rem;
    grid-column: 1 / 5;
  }

  .logo p {
    margin-top: 0, 8rem;
    margin-bottom: 0, 8rem;
  }
  .nav {
    grid-column: 1 / 5;
  }

  .nav li a {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .nav ul {
    text-align: right;
  }

  .nav .icon {
    display: block;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
    padding-bottom: 0;
  }

  .nav .icon a {
    text-align: right;
  }

  .nav .normal {
    display: none;
  }
  .navResponsive {
    background-color: var(--background);
  }

  .navResponsive {
    list-style-type: none;
    grid-column: 1 / 5;
  }

  .navResponsive li {
    list-style-type: none;
    color: var(--gold);
    text-align: center;
    padding: 0.3rem;
  }

  .navResponsive li a {
    color: var(--gold);
    text-decoration: none;
  }

  .navResponsive .icon {
    display: block;
    text-align: right;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 5%;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .navResponsive li:hover {
    background-color: #1c3988;
  }

  .navResponsive .normal {
    display: block;
  }
}
